<!-- creatr.ejs-->
<!DOCTYPE html>
<head>
    <title>Create Book</title>
</head>
<body>
    <h1>Create Book</h1>
    <from method ="post" action="/create">
        <label for="title">Titie:</label>
        <imput type="text" ia="title" name="title">
            <br>
            <label for="acthor">Author:</label>
            <imput type="text" ia="title" name="title">
                <br>
                <imput type="submit" value="create">
        
    </from>
    <a href="/">Back to list</a>
</body>
</html>