<!--update.ejs-->
<!DOCTYPE html>
<html>
    <head>
        <title>Update Book</title>
    </head>
    <body>
        <h1>Update Book</h1>
        <from method ="post" action="/updata/<%=book.id %>">
            <br>
            
    </body>
</html>